<h1>TODO LIST</h1>
<form method="post" action="/edit">
    <input type="text" name="todo" id="todo" value="<%=data[0].todo%>" ><br><br>
    <input type="submit" value="Add Item" name="btn" id="btn">
    <input type="hidden" name="_id" value="<%=data[0]._id%>" /><br/>
</form>